<!DOCTYPE html>
<html lang="en" xmlns:="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>info</title>
</head>
<body>
<p th:text="Header">Header</p>
<div class="layui-form">
    <table class="layui-table" border="1">
        <colgroup>
            <col width="160">
            <col width="400">
        </colgroup>
        <thead>
        <tr>
            <th>key</th>
            <th>value</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="headerMap:${headerMap}">
            <td th:text="${headerMap.key}">key</td>
            <td th:text="${headerMap.value}">value</td>
        </tr>
        </tbody>
    </table>
</div>
<br>
<br>
<p th:text="请求参数">请求参数</p>
<div class="layui-form">
    <table class="layui-table" border="1">
        <colgroup>
            <col width="160">
            <col width="400">
        </colgroup>
        </colgroup>
        <thead>
        <tr>
            <th>header_key</th>
            <th>header_value</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="parameter:${parameterMap}">
            <td th:text="${parameter.key}">key</td>
            <td th:each="value:${parameter.value}"  th:text="${value}">value</td>
        </tr>
        </tbody>
    </table>
</div>
<br>
<br>
<div>

    <Button id="button">获取请求耗时</Button>
    <div id="child_view">

    </div>
</div>
<br>
<br>
<p th:text="Cookie">Cookie</p>
<div class="layui-form">
    <table class="layui-table" border="1">
        <colgroup>
            <col width="160">
            <col width="400">
        </colgroup>
        </colgroup>
        <thead>
        <tr>
            <th>cookie_key</th>
            <th>cookie_value</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="cookie:${CookieMap}">
            <td th:text="${cookie.key}">key</td>
            <td th:text="${cookie.value}">value</td>
        </tr>
        </tbody>
    </table>
</div>
<p th:text="${CookieMessage}">CookieMessage</p>
<br>
<br>



<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type = "text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    var basePath = 'http://localhost:9000'

    $('#button').bind('click', function () {
        refresh();
    });

    function refresh() {
        $.ajax({
            url: basePath + '/info/refresh',
            type: 'post',
            dataType: 'text',
            data: {

            },
            cache: false,
            async: true,
            success: function (data) {
                $("#child_view").empty();
                $("#child_view").append(data);
            }
        });
    }

    /*]]>*/
</script>



</body>
</html>